.FieldText{
    width: 70%;
    border: 3px solid #29a9e1;
    border-radius: 0;
 
}

.LabelText{
    color: #29a9e1;
    font-size: 1rem;
    text-align: center;
    width: 70%;
    text-align: center;
}

.form-control{
    background-color: transparent !important;
}